<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <listeners>
    	<listener class-name="annotationUtils.AnnotationTransformer" />
		<listener class-name="listenerUtils.TestStatusListener" />
	</listeners>
	<test thread-count="5" name="Test">
    <classes>
      <class name="HomePageTest"/>
      <class name="SearchPageTest"/>
      <class name="ProductPageTest"/>
      <class name="CartPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
